{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <title>{{ movie.title }}</title>
</head>
<body>
    <header>
        <button class="back-btn">
            <a style="text-decoration: none; color: white;" href="{% url 'movie' %}">⬅ Back</a>
        </button>
        <h1>{{ movie.title }}</h1>
    </header>

    <main>
        <div class="movie-details">
            <div class="movie-info">
                <img src="{{ movie.image_cover.url }}" alt="Movie Cover" class="movie-cover">
                <div class="movie-description">
                    <p><strong>Release Year:</strong> {{ movie.release_date|date:'Y' }}</p>
                    <p><strong>Genre:</strong> {{ movie.get_genre_display }}</p>
                    <p><strong>Length:</strong> {{ movie.length }} mins</p>
                    <p><strong>Description:</strong> {{ movie.description }}</p>
                </div>
            </div>
            
            <div class="movie-video">
                {% if movie.video %}
                    <button class="watch-btn" onclick="openModal()">Watch Now</button>
                {% else %}
                    <p>No video available.</p>
                {% endif %}
            </div>
        </div>
    </main>

    <div id="videoModal" class="modal">
        <span class="close-btn" onclick="closeModal()">✖</span>
        <div class="modal-content">
            <video id="moviePlayer" controls>
                <source src="{{ movie.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>


    <script>
        function openModal() {
            let modal = document.getElementById("videoModal");
            let video = document.getElementById("moviePlayer");

            modal.style.display = "flex";
            document.body.style.overflow = "hidden"; 
            video.play();
        }

        function closeModal() {
            let modal = document.getElementById("videoModal");
            let video = document.getElementById("moviePlayer");

            video.pause();
            video.currentTime = 0;
            modal.style.display = "none";
            document.body.style.overflow = "auto"; 
        }
    </script>
</body>
</html>
