{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <title>Movies</title>
</head>
<body>
    <header>
        <button class="back-btn" onclick="goBack()">⬅ Back</button>
        Movie Collection
    </header>
    <main>
        {% if movies %}
            {% for movie in movies %}
                <div class="movie-card" 
                    onclick="redirectToMovie('{{ movie.uu_id }}')"
                    style="background-image: url('{{ movie.image_card.url }}');">
                </div>        
            {% endfor %}
        {% else %} 
            <div class="no-movies-message">
                <p>No movies available at the moment. Please check back later.</p>
            </div>
        {% endif %}
    </main>
    <script>
        function redirectToMovie(uuId) {
            if (uuId) {
                window.location.href = `/movie/${uuId}/`;
            } else {
                alert("Error: Movie ID is missing.");
            }
        }

        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
